.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 100px;
  }
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  z-index: 2;
  width: 100%;
}

.title {
  color: #ffffff;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.subTitle {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.description {
  color: #ffffff;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.description {
  color: #ffffff;
  font-size: 1.25rem;
}
